.one{
    background-color: #a0c2df;
    color: #f3f0ec;
    padding-bottom: 2%;
    font-size:xx-large;
}
.two{
  padding-block: 5%;
  padding-left: 17%;
  padding-right: 5%;
  text-align: left;
  color: rgb(27, 25, 25);
  font-style: normal;
  text-align: center;
}
.btn {
      background-color: #1a3d68;
      border-radius: 20%;
      border-style: none;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
      font-size: 25px;
      font-weight: 700;
      line-height: 1.5;
      margin: 5;
      max-width: none;
      min-height: 44px;
      min-width: 10px;
      outline: none;
      overflow: hidden;
      padding: 9px 20px 8px;
      padding-left: 2%;
      padding-bottom: 2%;
      padding-top: 2%;
      padding-right: 2%;
      position: relative;
      text-align: left;
      text-emphasis-position: center;
      text-transform: none;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: 8%;
    }
    
.button-31:hover,
.button-31:focus {
      opacity: .75;
    }

.home{
  background-color: #a2c7c5;
  border-radius: 10%;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
  margin: 2px;
  margin-top: 2%;
  max-width: none;
  min-height: 5%;
  min-width: 10%;
  outline: none;
  overflow: hidden;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 0%;
  padding-right: 0%;
  position: relative;
  text-align: center;
  text-emphasis-position: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 5%;
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}


.three{
  background-color: #a0c2df;
  color: #0b0b0b;
  padding-bottom: 3%;
  text-align: left;
  block-size: 25%;
}

.popup-box{
  background-color: #063660;
  color: #fff;
  width: 100%;
  padding-bottom: 20%;
  padding-left: 10%;
  border-radius: 10px;
  position: absolute;
  top: 20%;
  z-index: 2;
  display: none;
}

.six{
  text-align: center;
}

.glow-text{
  text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00;
}

.detail{
  background-color: #4a6362;
  border-radius: 10%;
  border-style: none;
  box-sizing: border-box;
  align-content: center;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
  margin: 5;
  max-width: none;
  min-height: 5%;
  min-width: 10%;
  outline: none;
  overflow: hidden;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 0%;
  padding-right: 0%;
  position: relative;
  text-align: center;
  text-emphasis-position: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 8%;
}

.five-box{
  background-color: #063660;
  color: #fff;
  width: 50%;
  height: 70%;
  text-align: left;
  margin-block-start: 37%;
  margin-left: 15%;
  block-size: 70%;
  padding-top: 5%;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 30px;
  position: absolute;
  top: 20%;
  z-index: 2;
  opacity: 0.8;
  display: none;
}


.back{
  background-color: #4a6362;
  border-radius: 10%;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
  margin: 5;
  max-width: none;
  min-height: 5%;
  min-width: 15%;
  outline: none;
  overflow: hidden;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 0%;
  padding-right: 0%;
  position: relative;
  text-align: center;
  text-emphasis-position: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 8%;
}

@media screen and (max-width: 992px) {
  body{
    background-color: rgb(83, 117, 197);
  }
  .one{
    height: 50%;
    width: 100%;
    padding-block: 0px;

  }
  .index{
    padding-top: 0px;
    padding-bottom: 20px;
    padding-inline-start: 0%;
  }
  .two{
    height: 50%;
    width: 80%;
    font-size: small;
    padding-right: 0%;
  }
  .three{
    font-size: small;
    text-align: center;
    border-top: #0b0b0b;
    border-radius: 0%;
    padding-top: 2%;
  }
  .detail{
    display: block;
    margin: auto;
  }
  .five-box{
    font-size: small;
    width: 65%;
    height: 70%;
    opacity: 100%;
    margin-inline-start: 8%;
    margin-inline-end: 0%;
    text-decoration: double;
  }
  .back{
    display: block;
    margin: auto;
    background-color: #88beed;
    
  }
  .btn{
    padding-left: 2%;
    margin-left: 2%;
    margin-top: 2%;
  }
  .home{
    margin-top: 2%;
    margin-inline-end: 2%;
    display: block;
    margin-top: 3%;
  }
  .glow-text{
    color: #88beed;
    text-shadow: none;
    text-justify:newspaper;
    text-align: start;
    font-size:125%;
  }
  .popup-box{
    font-size: large;
    width: 100%;
    padding-left: 2%;
    text-align: center;
    margin-block-start: 0%;
  }
}

@media screen and (max-width: 600px) {
  body{
    background-color: rgb(254, 254, 250);
}
.five-box{
  
}
}